@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: 'olympus';
  src: url('../assets/fonts/olympus/olympus.TTF');
}


$bgimage: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
$grape: darkslateblue;
$wine: maroon;
$bronze: #d27a25;
$glass: rgb(161, 209, 209);
$steel: grey;

$shield: rgb(110, 67, 14);
$potColour: black;

body {
  max-width: 100vw;
  height: 100vh;
  margin: 0 !important;
  background-image: url('https://w.wallhaven.cc/full/9m/wallhaven-9m5owx.jpg');
  background-size: cover;
  // overflow: hidden;
}

.all-gods-container {
  //border: 1px black dotted;
  padding-top: 5%;

  display: flex;
  flex-direction: column;
  font-family: 'olympus';

  width: auto;
  height: 100vh;

  background-image: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
  background-size: cover;
  background-position: center;

  .god-row {
    //border: 1px blue dotted;
    display: flex;
    flex-flow: row wrap;
    border-top: none;

    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    height: auto;
    //border-bottom: 1px solid black;
  }

  .spouse-row {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;

    border-right: 1px solid black;

    border-bottom: none;
  }



  .sibling-row {
    //position: relative;
    display: flex;
    height: auto;

    justify-content: space-around;
    border-bottom: none;
  }

  .children-row {
    display: flex;
    justify-content: center;
    //border-top: 1px black solid;

    border-bottom: none;
  }

  .sibling-container {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    border-top: 1px black solid;
  }

  .child-container {
    display: flex;
    flex-direction: row;
    border-top: 1px black solid;
  }

  .single-fam {
    //border: 1px green dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 0 10px;
  }

  .main-god {
    height: 300px;
    font-size: 100px;
    color: rgb(136, 0, 0);

    img {
      height: 50%;
      margin-top: -10%;
    }
  }

  .v-line {
    border-right: 1px solid rgb(0, 0, 0);
    height: 30px;

    margin-top: 0px;
  }
}

.father-container {
  .v-line {
    margin-bottom: 0;
  }
}

.relation-tag {
  font-size: 18px;
  margin-top: -20px;
  text-align: center;
}

.god-list-container {
  //background-image: $bgimage;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  li {
    display: flex;
    font-size: 30px;
    //border: 1px red solid;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'olympus';
    text-align: center;
    font-size: 50px;
    width: 450px;
    height: 300px;
    padding: 0;
    margin:0px;
    // border: 10px solid darkblue;
    background-image: url('../assets/images/scroll-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    
    vertical-align: middle;
    list-style: none;
  }
}

//? ********************************************************************************
.slide-container {
  border: 3px dotted red;
  width: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

//* ********************** STYLING FOR LOADING IMAGE ******************************
.loading-image {
  position: relative;
  float: left;
  height: 100%;
  width: 955px;
  overflow: hidden;
  -webkit-animation: reveal 4s ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes reveal {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes reveal {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

//* **************************** STYLING FOR VASE AND PILLAR ************************
.box {
  position: relative;
  margin: auto;
  display: block;
  //border: solid 4px red;
  height: 100vh;
  width: auto;
  overflow: hidden;
  background-image: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
  background-size: cover;
  background-position: center;

.base {
  position: absolute;
  top: 37.5%;
  left: 40%;
  width: 20%;
  height: 25%;
  background: $potColour;
  border-radius: 50%;
  z-index: 4;
}

.large-handle-right {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 15%;
  height: 15%;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.large-handle-inner-right{
  position: absolute;
  border-radius: 50%;
  background: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
  top:10%;
  height:80%;
  width:60%;
  left:30%;
}
.stem {
  position: absolute;
  width: 10%;
  left: 45%;
  top: 27%;
  height: 15%;
  background: $potColour;
  z-index: 2;
}
.rim {
  position: absolute;
  width: 12.5%;
  left: 43.75%;
  top: 27%;
  height: 1%;
  background: orange;
  z-index: 2;
  border-radius: 10%;
}
.centre-for-card-border {
  position: absolute;
  background: orange;
  top: 44%;
  height: 12%;
  left: 42.5%;
  width: 15%;
  z-index: 5;
  border-radius: 10%;
}
.centre-for-card {
  position: absolute;
  background: $potColour;
  top: 2%;
  left: 2%;
  height: 96%;
  width: 96%;
  border-radius: 10%;
}
.handle-left {
  position: absolute;
  top: 8%;
  width: 50%;
  left: -30%;
  height: 89%;
  background: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
  background-size: cover;
  border-radius: 50%;
}
.handle-right {
  position: absolute;
  top: 8%;
  width: 60%;
  right: -30%;
  height: 89%;
  background: url('https://cdn.wallpapersafari.com/13/88/CXQPFJ.jpg');
  border-radius: 50%;
}

.pillar {
  position: absolute;
  width: 20%;
  left: 40%;
  top: 62.5%;
  height: 37.5%;
  background: repeating-linear-gradient(90deg, lightgrey, lightgrey 10px, darkgrey 10px, darkgrey 20px);
}
.pillar-rim {
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 36%;
  height: 2.5%;
  background: darkgrey;
  border-radius: 15%;
  box-shadow: 4px 10px rgb(66, 66, 66);
  z-index: 4;
}
.grapes-bunch {
  position: absolute;
  // border: 2px solid red;
  height: 15%;
  width: 10%;
  top: 50%;
  left: 37%;
  z-index: 10;
}

.grapes-single {
  background-color: $grape;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  height: 20%;
  width: 20%;
}

#grape-1 {
  top: 40%;
  left: 56%;
}

#grape-2 {
  top: 40%;
  left: 50%;
}
#grape-3 {
  top: 40%;
  left: 40%;
}
#grape-4 {
  top: 40%;
  left: 33%;
}

#grape-5 {
  top: 50%;
  left: 55%;
}
#grape-6 {
  top: 50%;
  left: 45%;
}
#grape-7 {
  top: 50%;
  left: 35%;
}
#grape-8 {
  top: 60%;
  left: 50%;
}
#grape-9 {
  top: 60%;
  left: 40%;
}
#grape-10 {
  top: 70%;
  left: 45%;
}
.grapes-stem {
  position: absolute;
  background-color: green;
  height: 20%;
  width: 5%;
  border: 3px solid black;
  top: 27%;
  left: 54%;
  rotate: 45deg;
}
#bunch-2 {
  left: 40%;
  rotate: 21deg;
  top: 52%;
}

.grapes-loose {
  position: absolute;
  // border: 2px solid red;
  height: 25%;
  width: 25%;
  top: 52%;
  left: 35%;
  z-index: 10;
}
.grapes-loose-single {
  position: absolute;
  background-color: $grape;
  border-radius: 50%;
  border: 1px solid black;
  height: 8%;
  width: 8%;
}
#grapes-loose-1 {
  top: 32%;
}
#grapes-loose-2 {
  top: 30%;
  left: 10%;
}
#grapes-loose-3 {
  top: 35%;
  left: 15%;
}
#grapes-loose-4 {
  top: 40%;
  left: 20%;
}

#grapes-loose-5 {
  top: 34%;
  left: 7%;
}

.wine-glass {
  position: absolute;
  // border: 2px solid red;
  height: 18%;
  width: 18%;
  top: 47%;
  left: 30%;
  overflow: hidden;
  z-index: 9;
}

.wine-glass-cup {
  position: absolute;
  height: 35%;
  width: 35%;
  border-radius: 0 0 90% 90%;
  top: 5%;
  left: 32.5%;
  background: $glass;
}

.wine-glass-contents {
  position: absolute;
  background-color: $wine;
  width: 90%;
  left: 5%;
  height: 70%;
  top: 20%;
  border-radius: 0 0 90% 90%;
}

.wine-glass-stem {
  position: absolute;
  background-color: $glass;
  width: 4%;
  left: 48%;
  top: 37%;
  height: 45%;
}
.wine-glass-base {
  position: absolute;
  width: 20%;
  height: 3%;
  left: 40%;
  top: 80%;
  background-color: $glass;
}

.sword-and-shield {
  position: absolute;
  height: 65%;
  width: 32.5%;
  // border: 2px solid red;
  top: 45%;
  left: 45%;
  z-index: 10;
}
.sword-blade {
  position: absolute;
  height: 60%;
  top: 30%;
  width: 10%;
  left: 45%;
  background-color: $steel;
}
.sword-hilt {
  position: absolute;
  height: 10%;
  width: 6%;
  background: repeating-linear-gradient(-45deg, #920027, #920027 5px, black 5px, black 10px);
  top: 19%;
  left: 47%;
}
.sword-guard {
  position: absolute;
  height: 3%;
  width: 25%;
  background-color: $bronze;
  left: 38%;
  top: 29%;
  border: 3px outset $shield;
}

.sword-end {
  position: absolute;
  background-color: $bronze;
  border-radius: 50%;
  top: 14%;
  height: 8%;
  width: 10%;
  left: 43%;
  border: 7px inset $shield;
}
.sword-shield {
  position: absolute;
  background: radial-gradient(circle, transparent, $shield),
    repeating-conic-gradient(from 0deg, #ff8a00 0deg 15deg, black 15deg 30deg);
  border: 10px outset $bronze;
  border-radius: 50%;
  top: 50%;
  height: 45%;
  width: 45%;
  left: 35%;
}
vines-1 {
  position: absolute;
  border-radius: 50%;
  border: 10px ridge green;
  background-color: transparent;
  width: 24%;
  height: 50%;
}
.homepage-text {
  position: absolute;
  text-align: center;
  top: 5%;
  left: 37.5%;
  font-size: 80px;
  font-family: 'olympus';
  width: auto;
}

.about-page-text {
  position: absolute;
  font-family: 'olympus';
  font-size: 32px;
  width:30%;
  top:25%;
  left:8%;

}
// .iframe-container {
//   position: absolute;
// }
// iframe{
//   position:absolute;
//   right: 20%;
//   top:20%;
//   height:60%;
//   width:40%;
//   z-index: 3;

// }

// #mountain-1 {
//   position: absolute;
//   background-color: grey;
//   height: 80%;
//   width:60%;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;

//   border-right:10px solid blue;

// }

/* .box-leaf{
  position: absolute;
  border-background: white;
  border: solid 4px #920027;
  height: 25%;
  width: 25%;
  top: 8%;
  left: 8%;
} */
/* .leaf-circle {
  position: absolute;
  bottom: 5%;
  left: 20%;
  height: 80%;
  width:50%;
  background: darkgreen;
  border-radius: 50%;
} */
}
// @import '~bulma/bulma.sass';


.navbar{
  font-family: 'olympus';
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
background: rgb(215,167,92);
background: linear-gradient(202deg, rgba(215,167,92,1) 0%, rgba(203,140,56,1) 93%);
    border-bottom: 5px $bronze solid;


}

  .navbar-start{
    display: flex;
    justify-content: flex-end;
    align-items: center;

  
  }
.container{
  display: flex;
  justify-content: space-between;
}



.filter-container{
  font-family: olympus;
  height: 50%;
}

.filter-container {
  width: 80%;
  height: auto;
  margin: 0 auto;

  fieldset{
    border:grey 2px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

  }

  #input-field{
    background-color: rgba($color: #7dacba, $alpha: 0.4);
    border-radius: 10px;
        border: rgb(255, 0, 0);
  }
}

.button-container{
  display: flex;
  justify-content: center;
}


button {
  margin: 20px;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color:#c62d1f;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
button:hover {
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color:#f24437;
}
button:active {
  position:relative;
  top:1px;
}

// #root{
//   height:100vh
// }

.god-list-component{
  background-image: url('https://cutewallpaper.org/21/hd-parchment-background/Parchment-HD-Wallpapers.jpg');
align-items: center; 
// min-height: 100%;
min-height: 100vh;
}


// .main-name{
//   margin: 0;
// }

a {
  color: #000000bb;
  cursor: pointer;
  text-decoration: none;
}
a :hover {
  color: black;
}

p{
  margin: 0px;
}
.relation-tag{
  margin: 10px;
}
.main-name  {
  margin-bottom: 40px;
}