@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


@font-face {
  font-family: 'olympus' ;
  src: url('../assets/fonts/olympus/olympus.TTF')
}

body{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.single-fam {
  font-family: 'olympus';
  font-size: 5vw;
  width: auto;
  border: 10px solid grey;
  padding: 10px;

}


.h-line {
  width: 100%;
  padding: 0 10px 0 ;
  hr{
  color: rgb(191, 255, 0);
}

}



.god-row, .daughter-container {
  border: 2px dotted red;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.spouse-container{
  width: 50%;
  display: flex;
  justify-content: center;
  border: 5px rgb(119, 255, 0) solid;
  border-right: 5px red solid;
  flex-wrap: nowrap;
}

.spouse { 
  width: 25%;
  display: flex;
  justify-content: flex-start;
  border: 5px rgb(0, 255, 200) solid;
}

.sisters{
  display: flex;
flex-direction:row;
}

.all-gods-container {
  position: relative;
}

.main-god {
  position: absolute;
  top:50%;
  left: 42%;
}


@import '~bulma/bulma.sass';